/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #1E3543;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #4AAEAE;
  text-decoration: none;
}

.carousel_Onduty_visitor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel_Onduty_visitor .carousel {
  width: 60%;
}

.carousel_Onduty_visitor .carousel .carousel-caption {
  right: 20px;
  left: 20px;
  bottom: 0;
  text-align: left;
}

.carousel_Onduty_visitor .carousel .carouselText {
  font-size: 1.5rem;
  line-height: 1.5;
}

.carousel_Onduty_visitor .onduty_visitor {
  margin-left: 50px;
}

.carousel_Onduty_visitor .onduty_visitor .card {
  border: 0;
}

.carousel_Onduty_visitor .onduty_visitor .card .card-body {
  padding: 0;
}

.carousel_Onduty_visitor .onduty_visitor .card .card-body .cardTitle {
  color: #4AAEAE;
  font-weight: bold;
  font-size: 2rem;
}

.carousel_Onduty_visitor .onduty_visitor .card .card-body .cardContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item {
  padding: 10px 30px 0 30px;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item:first-child {
  padding-left: 0;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item span {
  display: block;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item .day {
  font-size: 1.25rem;
  font-weight: bold;
  color: #828282;
  margin-bottom: 8px;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item .crewData .job {
  display: inline-block;
  border: 1px solid #4AAEAE;
  border-radius: 5px;
  color: #4AAEAE;
  padding: 8px 4px;
  margin-bottom: 8px;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item .crewData .people {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item .crewData .tel {
  color: #828282;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item .crewData.borderGray {
  position: relative;
}

.carousel_Onduty_visitor .onduty_visitor .onduty .onduty_item .crewData.borderGray::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #828282;
  left: -24px;
  bottom: 0;
}

.carousel_Onduty_visitor .onduty_visitor hr {
  color: #828282;
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

.carousel_Onduty_visitor .onduty_visitor .visitor .visitorNumber_today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.carousel_Onduty_visitor .onduty_visitor .visitor .visitorNumber_today .number_item {
  display: block;
  background: linear-gradient(3.14deg, #535353 0.19%, #3D3D3D 94.3%);
  border: 1px solid #000;
  border-radius: 15px;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding: 15px;
  margin-right: 5px;
  position: relative;
}

.carousel_Onduty_visitor .onduty_visitor .visitor .visitorNumber_today .number_item::before {
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
}

.carousel_Onduty_visitor .onduty_visitor .visitor .visitorNumber_today .number_item .number::after {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #F7EB5A;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0px;
  z-index: 3;
}

.carousel_Onduty_visitor .onduty_visitor .visitor .visitorNumber_today .number_item .number::before {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #F7EB5A;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: -1px;
  z-index: 3;
}

.carousel_Onduty_visitor .onduty_visitor .visitor .visitorNumber_total {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #828282;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FBFBFB;
}

.news .news_bg {
  background: url(../img/indexHeader_bg.png) no-repeat center;
  background-size: cover;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news_bg .news_title {
  font-weight: bold;
  text-align: center;
}

.news .news_bg .news_title .ver_en {
  font-size: 3rem;
  color: #4AAEAE;
  margin-bottom: 20px;
}

.news .news_bg .news_title .ver_ch {
  font-size: 2rem;
}

.news .news_list {
  width: 80%;
  padding: 30px;
}

.news .news_list .listItem {
  border-bottom: 1px solid #828282;
  padding: 10px 0;
}

.news .news_list .listItem:not(:last-child) {
  margin-bottom: 10px;
}

.news .news_list .listItem .listItem_title {
  font-weight: bold;
  margin-bottom: 5px;
}

.news .news_list .listItem .listItem_content {
  font-size: 0.87rem;
  line-height: 1.5;
  color: #828282;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news .news_list .more {
  font-size: 0.87rem;
  text-align: right;
}

.news .news_list .more .icon {
  margin-left: 10px;
}

.linkWeb .linkWeb_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linkWeb .linkWeb_content .linkWeb_title {
  font-weight: bold;
  text-align: center;
}

.linkWeb .linkWeb_content .linkWeb_title .ver_en {
  font-size: 3rem;
  color: #4AAEAE;
  margin-bottom: 30px;
}

.linkWeb .linkWeb_content .linkWeb_title .ver_ch {
  font-size: 2rem;
}

.linkWeb .linkWeb_content .decorateLine {
  margin: 0 50px;
}

.linkWeb .linkWeb_content .linkWeb_list .linkWeb_link {
  font-size: 1.25rem;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.linkWeb .linkWeb_content .linkWeb_list .linkWeb_link:hover {
  color: #4AAEAE;
}

.linkWeb .linkWeb_content .linkWeb_list .linkWeb_link .icon {
  margin-right: 10px;
}

.totopBtn {
  position: fixed;
  right: 25px;
  bottom: -50px;
  z-index: 9999999;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0px 24px 20px 3px rgba(225, 225, 225, 0.1), 0px 9px 46px 8px rgba(225, 225, 225, 0.12), 0px 11px 15px -7px #E1E1E1;
          box-shadow: 0px 24px 20px 3px rgba(225, 225, 225, 0.1), 0px 9px 46px 8px rgba(225, 225, 225, 0.12), 0px 11px 15px -7px #E1E1E1;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
}

.totopBtn.show {
  bottom: 25px;
  opacity: 1;
}

.totopBtn:hover {
  border: 2px solid #4AAEAE;
}

.sidebar {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 12px #E1E1E1;
          box-shadow: 0px 8px 12px #E1E1E1;
  padding: 10px 0;
}

.sidebar .sidebar_title {
  padding: 20px;
  position: relative;
}

.sidebar .sidebar_title h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

.sidebar .sidebar_title::before {
  content: '';
  height: 30px;
  width: 5px;
  background: #57A6CA;
  position: absolute;
  top: 25%;
  left: 0;
}

.sidebar .sidebar_list .firstfloor_item .firstfloor_link {
  display: block;
  padding: 15px 20px;
}

.sidebar .sidebar_list .firstfloor_item .firstfloor_link:hover {
  background-color: #F9F9F9;
  font-weight: bold;
}

.breadcrumb {
  background-color: #fff;
  padding: 0;
}

.breadcrumb .breadcrumb-item {
  font-size: 0.87rem;
}

.breadcrumb .breadcrumb-item .breadcrumb-link {
  color: #4AAEAE;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.album .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.album .album_item {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.album .album_item .album_cover {
  min-height: 150px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.album .album_item .album_cover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.album .album_item .album_cover .album_total {
  background-color: #4AAEAE;
  border-radius: 0 4px 0 0;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.album .album_item .album_body {
  padding: 15px;
  line-height: 1.5;
}

.album .album_item .album_body .album_date {
  color: #828282;
  margin-bottom: 5px;
}

.album .album_item .album_body .album_title {
  font-weight: bold;
}

.album .album_item .album_body .album_icon {
  display: block;
  text-align: right;
}

.album .album_item .album_body .album_icon .icon {
  font-size: 1.25rem;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #4AAEAE;
  border: 1px solid #4AAEAE;
}

.pagination .page-link {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-right: 10px;
  color: #1E3543;
}

.pagination .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.news_more .news_list .listItem {
  border-bottom: 1px solid #828282;
  padding: 10px 0;
}

.news_more .news_list .listItem:not(:last-child) {
  margin-bottom: 10px;
}

.news_more .news_list .listItem .listItem_date {
  display: block;
  color: #828282;
  margin-bottom: 10px;
}

.news_more .news_list .listItem .listItem_title {
  font-weight: bold;
  margin-bottom: 5px;
}

.news_more .news_list .listItem .listItem_content {
  font-size: 0.87rem;
  line-height: 1.5;
  color: #828282;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_inner .news_data .news_date {
  color: #828282;
  margin-bottom: 8px;
}

.news_inner .news_data .news_mark {
  display: inline-block;
  background-color: #4AAEAE;
  padding: 12px;
  border-radius: 0 0 10px 0;
  color: #fff;
  font-size: 0.87rem;
}

.news_inner .news_article .article_title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.news_inner .news_article .article_content {
  line-height: 1.5;
}

.news_inner .news_article .article_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.news_inner .news_article .article_order .icon {
  margin: 0 5px;
}

.slider-for img {
  width: 100%;
}

.slider-for .slider-img {
  min-height: 500px;
}

.slider-nav .nav-img {
  min-height: 150px;
  background-size: cover;
}

.slider-nav .nav-img .photo {
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

.slider-nav .slick-prev,
.slider-nav .slick-next {
  width: 36px;
  height: 36px;
}

.slider-nav .slick-prev::before,
.slider-nav .slick-next::before {
  color: #1A1C2726;
  font-size: 36px;
}

.slider-nav .slick-prev {
  left: -50px;
}

.slider-nav .slick-next {
  right: -50px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1E3543;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei UI", "Segoe UI", "Roboto", "Helvetica Neue", Charcoal, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  max-width: 100%;
}

header {
  margin-bottom: 80px;
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.headerSection {
  min-height: 200px;
  background: url(../img/indexHeader_bg.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.headerSection .AFRClogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 100px;
  top: 0;
  bottom: 0;
}

.headerSection .AFRClogo img {
  margin-right: 20px;
}

.headerSection .AFRClogo h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.headerSection .AFRClogo h1 .unit {
  font-weight: bold;
  margin-left: 10px;
}

.header_topmenu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topmenu_list {
  position: absolute;
  top: -25px;
}

.firstFloor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #82D2D2;
  border-radius: 15px;
}

.firstFloor .firstFloor_item a {
  display: inline-block;
  color: #fff;
  padding: 20px;
  min-width: 150px;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #828282;
  color: #fff;
  text-align: center;
  font-size: 0.87rem;
  padding: 30px;
  margin-top: 100px;
}
/*# sourceMappingURL=all.css.map */