// 
.btn_style {
    border: 0;
    background-color: #fff;
    cursor: pointer;
    transition: $transition;

    &:focus {
        outline: 0;
    }
}

.btn_print {
    font-size: 1.25rem;
    color: $text-primary;

    &:hover {
        color: $primary-color;
    }
}

.btn_download {
    font-size: 0.87rem;

    .icon {
        margin-right: 5px;
    }

    &:hover {
        color: $primary-color;
    }
}