.sidebar {
    background-color: #fff;
    box-shadow: $box-shadow;
    padding: 10px 0;

    .sidebar_title {
        padding: 20px;
        position: relative;

        h3 {
            font-weight: bold;
            font-size: 1.25rem;
        }

        &::before {
            content: '';
            height: 30px;
            width: 5px;
            background: #57A6CA;
            position: absolute;
            top: 25%;
            left: 0;
        }
    }

    .sidebar_list {
        .firstfloor_item {
            .firstfloor_link {
                display: block;
                padding: 15px 20px;

                &:hover {
                    background-color: $gray_hover;
                    font-weight: bold;
                }
            }
        }
    }
}

// 麵包屑
.breadcrumb {
    background-color: #fff;
    padding: 0;

    .breadcrumb-item {
        font-size: 0.87rem;

        .breadcrumb-link {
            color: $primary-color;

        }
    }

    .breadcrumb-item+.breadcrumb-item::before {
        content: '>';
    }
}

// 相簿
.album {
    .row {
        flex-wrap: wrap;
    }

    .album_item {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        // 封面照片
        .album_cover {
            min-height: 150px;
            position: relative;
            transition: $transition;

            &:hover {
                transform: scale(1.05);
            }

            .album_total {
                background-color: $primary-color;
                border-radius: 0 4px 0 0;
                font-weight: bold;
                color: #fff;
                padding: 15px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .album_body {
            padding: 15px;
            line-height: 1.5;

            .album_date {
                color: $gray;
                margin-bottom: 5px;
            }

            .album_title {
                font-weight: bold;
            }

            .album_icon {
                display: block;
                text-align: right;

                .icon {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

// 分業
.pagination {
    justify-content: center;
    margin-top: 20px;

    .page-item {
        &.active {
            .page-link {
                background-color: #fff;
                color: $primary-color;
                border: 1px solid $primary-color;
            }
        }
    }

    .page-link {
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        margin-right: 10px;
        color: $text-primary;

        &:focus {
            box-shadow: none;
        }
    }
}

