// 字體
$font-family: -apple-system,
BlinkMacSystemFont,
"Microsoft JhengHei UI",
"Segoe UI",
"Roboto",
"Helvetica Neue",
Charcoal,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$primary-color:#4AAEAE;

$text-primary:#1E3543;

$gray:#828282;

$font-size:16px;

$transition: all .3s;